@{
    ViewData["Title"] = "Home Page";
}
@model IList<CompetitionViewModel>

<div class="row">
    <div class="col-md-12">
        <h2>@Resources.Titles.Competitions</h2>
        <ul>
            @foreach (var competition in Model)
            {
            <li>@competition.Name</li>
            }
        </ul>
    </div>
</div>
